main {
  position: relative;
  display: grid;
  justify-content: center;
  width: 100vw;
  height: 100%;
  background-color: var(--color-background);

  & > section {
    position: relative;
    width: 850px;
    height: 100%;
  }

  &.history-template > section {
    margin-top: 90px;
    width: 904px;
  }

  &.history > section {
    width: 904px;
  }
}
