:root {
  --color-title-active: #222222;
  --color-body: #626666;
  --color-label: #8d9393;
  --color-placeholder: #c1c5c5;
  --color-line: #ccd3d3;
  --color-background: #f5f5f5;
  --color-off-white: #fcfcfc;
  --color-white: #ffffff;
  --color-primary1: #2ac1bc;
  --color-primary2: #a0e1e0;
  --color-primary3: #219a95;
  --color-error: #f45452;
  --color-category1: #6ed5eb;
  --color-category2: #4cb8b8;
  --color-category3: #94d3cc;
  --color-category4: #4ca1de;
  --color-category5: #d092e2;
  --color-category6: #817dce;
  --color-category7: #4a6cc3;
  --color-category8: #b9d58c;
  --color-category9: #e6d267;
  --color-category10: #e2b765;

  --color-gray2: #bbbbbb;
}
